:root {
    --white: hsl(0, 0%, 100%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
}
* {
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    background-color: var(--white);
    background: 
        url("../images/bg-pattern-top-desktop.svg") top left no-repeat,
        url("../images/bg-pattern-bottom-desktop.svg") bottom right no-repeat;
    background-size: contain;
    background-size: 40%, 60%;
}
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.contenedor-superior {
    display: grid;
    width: 75vw;
    height: 50vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 80px;
}
.declaration {
    width: 90%;
    margin: 0;
}
.declaration p {
    font-size: .8em;
    margin-top: 12px;
    padding: 0;
    line-height: 1.6em;
    color: var(--dark-grayish-magenta);
}
h1 {
    color: var(--very-dark-magenta);
    font-size: 3em;
}
h2 {
    font-weight: bold;
    font-size: .8em;
    color: var(--light-grayish-magenta);
}
.ratings {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
}
.rating {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    padding: 15px 20px;
    margin: 7px 0px;
    background-color: var(--light-grayish-magenta);
    font-size: .6em;
    font-weight: bold;
    color: var(--very-dark-magenta);
    border-radius: 6px;
    align-items: center;
}
.rating-guru {
    justify-self: center;
}
.rating-best {
    justify-self: flex-end;
}
.rating img {
    margin: 0px 5px;
}
.contenedor-testimonios {
    display: grid;
    width: 75vw;
    height: 37vh;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
    grid-gap: 20px;
}
.testimonio {
    background-color: var(--very-dark-magenta);
    border-radius: 7px;
    height: 90%;
    padding: 40px;
}
.testimonio__heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.testimonio img {
    width: 2.5em;
    border-radius: 100px;
    padding: 0;
    margin: 0;
}
.t-irene {
    align-self: center;
}
.t-anne {
    align-self: end;
}
.nombre {
    padding: 0 1.5em;
    margin: 0;
}
.verified {
    font-size: .8em;
    color: var(--soft-pink);
    margin-top: .3em;
}
.quote {
    font-size: .7em;
    color: var(--light-grayish-magenta);
    margin-top: 20px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 800px) {
    main {
        display: grid;
        height: 95%;
        margin: 20px 20px;
        grid-template-rows: repeat(2, 1fr);
    }
    .contenedor-superior {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0px;
    }
    .contenedor-testimonios {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        height: 100%;
        grid-gap: 10px;
    }
    .declaration {

        text-align: center;
        width: 100%;
        height: 50%;
    }
    .ratings {
        display: grid;
        width: 100%;
        height: 50%;
        grid-template-rows: repeat(3, 1fr);
        margin: 0;
        padding: 0;
    }
    .rating {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 7px;
        padding: 10px;
    }
    .rating-guru,
    .rating-best,
    .rating-reviews {
        justify-self: center;
        align-items: flex-start;
    }
    .testimonio {
        height: 100%;
    }

}